:root {
  --primary: #4747f3;
  --success: #24dfa1;
  --warning: #ffcc00;
  --danger: #f44d3f;

  --gray-0: #fcfcfc;
  --gray-1: #eeeeee;
  --gray-2: #aaaaaa;
  --gray-3: #555555;
  --gray-4: #222222;
}

body {
  padding-bottom: 20px;
}

body > div > .container {
  padding-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

a {
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px solid var(--gray-1);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.button {
  font-family: "Inter", sans-serif;
  background: transparent;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
  position: relative;
  outline: 0;
  white-space: nowrap;
}

.button.uppercase {
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.button:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.03);
}

.button:active {
  top: 1px;
}

.button-block {
  display: block;
  width: 100%;
}

.button-default {
  background: var(--gray-1);
  color: var(--gray-4);
}

.button-primary {
  background: var(--primary);
}

.button-success {
  background: var(--success);
}

.button-warning {
  background: var(--warning);
}

.button-danger {
  background: var(--danger);
}

.button-small {
  padding: 10px 20px;
}

.field {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: var(--gray-4);
  margin-bottom: 15px;
}

.input {
  font-family: "Inter", sans-serif;
  display: block;
  width: 100%;
  border: 1px solid var(--gray-1);
  padding: 15px;
  font-size: 15px;
  color: var(--gray-4);
  border-radius: 3px;
}

.input:focus {
  outline: 0;
  border-color: var(--primary);
  box-shadow: 0px 0px 2px 0px rgba(71, 71, 243, 0.2);
}

.input.error,
.input-error:focus {
  outline: 0;
  border-color: var(--danger);
  box-shadow: 0px 0px 2px 0px rgba(244, 77, 63, 0.2);
}

.input::-webkit-input-placeholder {
  color: var(--gray-2);
}

.input::-moz-placeholder {
  color: var(--gray-2);
}

.input:-ms-input-placeholder {
  color: var(--gray-2);
}

.input:-moz-placeholder {
  color: var(--gray-2);
}

textarea.input {
  line-height: 21px;
}

.input-hint {
  font-size: 15px;
  margin: 15px 0px;
  color: var(--gray-2);
}

.input-hint.error {
  color: var(--danger);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: var(--gray-3);
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  align-items: center;
  font-family: "Inter", sans-serif;
  width: 100%;
  border: 1px solid var(--gray-1);
  border-radius: 3px;
  padding: 15px;
  font-size: 15px;
  color: var(--gray-4);
  grid-template-areas: "select";
}

.select:focus-within {
  outline: 0;
  border-color: var(--primary);
  box-shadow: 0px 0px 2px 0px rgba(71, 71, 243, 0.2);
}

.select:after {
  justify-self: end;
  content: "";
  width: 16px;
  height: 9px;
  background-color: var(--gray-2);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select:before {
  justify-self: end;
  content: "";
  width: 16px;
  height: 9px;
  background-color: #fff;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: relative;
  z-index: 5;
  top: -2px;
}

.select:focus-within:after {
  background-color: var(--primary);
}

select,
.select:after,
.select:before {
  grid-area: select;
}

.select-multiple:after,
.select-multiple:before {
  display: none;
}

select[multiple] {
  padding-right: 0px;
  height: 100px;
}

select[multiple] option {
  white-space: normal;
  padding: 5px 10px;
  color: var(--gray-3);
}

.table {
  width: 100%;
  overflow-x: scroll;
  border: 1px solid var(--gray-1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.03);
  background: #fff;
  border-radius: 3px;
}

.table.borderless {
  border: none;
}

table {
  width: 100%;
}

table > thead > tr > th {
  font-weight: 600;
  border-bottom: 1px solid var(--gray-1);
  padding: 15px;
  color: var(--gray-3);
  text-align: left;
  white-space: nowrap;
}

table > tbody > tr > td {
  padding: 15px;
  color: var(--gray-3);
  text-align: left;
  white-space: nowrap;
}

table > tbody > tr:not(:last-child) > td {
  border-bottom: 1px solid var(--gray-1);
}

.table.striped > table > tbody > tr:nth-child(even) > td {
  background: var(--gray-0);
}

.navigation,
.navigation > .container {
  display: flex;
  align-items: center;
}

.navigation {
  border-bottom: 1px solid var(--gray-1);
  padding: 20px;
  margin-bottom: 20px;
  height: 65px;
  position: relative;
}

.navigation > .container {
  width: 100%;
  padding: 0px;
}

.navigation .brand {
  font-weight: 600;
  color: var(--gray-4);
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: none;
}

.navigation .fa-bars {
  margin-left: auto;
  font-size: 22px;
  color: var(--gray-2);
}

.navigation .fa-bars:hover {
  color: var(--primary);
  cursor: pointer;
}

.navigation .navigation-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  background: #fff;
  border-bottom: 1px solid var(--gray-1);
  padding: 20px;
  z-index: 1000;
  margin-top: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.03);
}

.navigation.open .navigation-items {
  display: block;
}

.navigation ul li:not(:last-child) {
  margin-bottom: 10px;
}

.navigation ul li,
.navigation ul li a {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-2);
  text-decoration: none;
  border-bottom: none;
}

.navigation ul li:not(.dropdown):hover,
.navigation ul li a:hover {
  color: var(--primary);
  cursor: pointer;
}

.navigation ul li.active a {
  color: var(--primary);
}

.navigation-items > ul:not(:last-child) {
  margin-bottom: 10px;
}

.navigation ul li.dropdown {
  position: relative;
}

.navigation ul li.dropdown > span {
  position: relative;
}

.navigation ul li.dropdown > span > .fa-chevron-down {
  position: relative;
  top: 1px;
  margin-left: 5px;
  color: var(--gray-2);
}

.navigation ul li.dropdown > ul.dropdown {
  position: relative;
  border: 1px solid var(--gray-1);
  margin-top: 15px;
  padding: 20px;
  background: #fff;
  flex-direction: column;
}

.alert {
  padding: 20px;
  background: var(--gray-1);
  color: var(--gray-3);
  margin-bottom: 25px;
  border-radius: 3px;
}

.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
  margin-bottom: 5px;
}

.alert h1 i,
.alert h2 i,
.alert h3 i,
.alert h4 i,
.alert h5 i,
.alert h6 i {
  margin-right: 5px;
}

.alert-warning {
  background: rgba(255, 204, 0, 0.25);
  color: #a08004;
}

.alert-danger {
  background: rgba(244, 77, 63, 0.25);
  color: #d13b2e;
}

.alert-success {
  background: rgba(36, 223, 161, 0.25);
  color: #129167;
}

.alert-info {
  background: rgba(71, 71, 243, 0.25);
  color: #3939f2;
}

.blank-state {
  text-align: center;
  background: var(--gray-1);
  color: var(--gray-4);
  padding: 40px;
  border-radius: 3px;
}

.blank-state h1,
.blank-state h2,
.blank-state h3,
.blank-state h4,
.blank-state h5,
.blank-state h6 {
  color: var(--gray-4);
  margin-bottom: 15px;
}

.blank-state p {
  color: var(--gray-3);
}

.blank-state .button {
  margin-top: 30px;
}

.blank-state.transparent {
  background: transparent;
}

.blank-state.bordered {
  border: 1px solid var(--gray-1);
  background: #fff;
}

.blank-state.dashed {
  border: 2px dashed var(--gray-1);
  background: #fff;
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
  margin-bottom: 0px;
  color: var(--gray-4);
}

.page-header p {
  color: var(--gray-2);
  margin-top: 10px;
}

.page-header .button {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  body {
    padding-bottom: 40px;
  }

  body > div > .container {
    padding-bottom: 40px;
  }

  .navigation {
    margin-bottom: 40px;
  }

  .navigation .fa-bars {
    display: none;
  }

  .navigation > .navigation-items,
  .navigation > .container > .navigation-items {
    display: flex;
  }

  .navigation .navigation-items {
    padding: 0px;
    box-shadow: none;
    border: none;
    position: static;
    margin-left: 40px;
    width: 100%;
  }

  .navigation ul {
    display: flex;
  }

  .navigation .navigation-items ul {
    margin-bottom: 0px;
  }

  .navigation .navigation-items ul li a {
    position: relative;
  }

  .navigation ul li:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .navigation ul.navigation-right {
    margin-left: auto;
  }

  .navigation ul li.dropdown > ul.dropdown {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid var(--gray-1);
    margin-top: 15px;
    padding: 20px;
    min-width: 250px;
  }

  .navigation ul li.dropdown > ul.dropdown:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0px;
    right: 0px;
    background: transparent;
    height: 20px;
  }

  .navigation ul li.dropdown:hover > ul.dropdown {
    display: block;
  }

  .blank-state {
    padding: 60px;
  }

  .page-header {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding-bottom: 50px;
  }

  body > div > .container {
    padding-bottom: 50px;
  }

  .navigation {
    margin-bottom: 50px;
  }

  .blank-state {
    padding: 80px;
  }

  .page-header {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
