@import "pong.css";

:root {
  --primary: #4747f3;
  --success: #24dfa1;
  --warning: #ffcc00;
  --danger: #f44d3f;

  --gray-0: #fcfcfc;
  --gray-1: #eeeeee;
  --gray-2: #aaaaaa;
  --gray-3: #555555;
  --gray-4: #222222;
}

body > #__next > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-hint {
  font-size: 15px;
  margin: 12px 0px 15px;
  color: var(--gray-2);
}

.input-hint.error {
  color: var(--danger);
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
  margin: 0;
}

.page-header button {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  body > #__next > .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  body > #__next > .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
